.top-intro{
    background-color: rgba(0, 0, 171, 0.77);
}
.top-intro-wrapper p{
    color: white;
    font-size: 12px;
}
.top-intro-wrapper .nav .nav-item .nav-link:hover {
    color: rgb(161, 147, 255) !important;
}
.top-intro-wrapper a{
    font-size: 12px;
}
.cus-social-icon-link{
    padding: 6px;
}
.social-wrapper{
    padding: 0px 10px;
}
.custom-nav-link-1{
    padding: 6px 0px;

}
.custom-nav-link-1 span{
    border-left: 1px solid #838383;
    padding: 0 10px;
}
.top-intro-wrapper{
    padding: 5px 15px;
}
.right-col img{
    max-width: 150px;
}
.search-btn{
    background-color: #FF5E2B;
    color: white;
}
.categories-btn{
    font-size: 13px;
}
.custom-dropdown-menu-1 .dropdown-item{
    font-size: 13px;
}
.custom-dropdown-menu-1 .dropdown-item:hover{
    background-color: white;
    color: #FF5E2B;
}
.middle-row{
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}
.left-col a{
    font-size: 14px;
    color: #333333;
}
.left-col a:hover{
    color: #a4a4a4;
}
.bottom-row{
    border-bottom: 1px solid rgba(232, 232, 232, 1);
}
.menu-icon-1{
    margin-right: 5px;
    margin-left: 15px;
}
.dropdown-categories{
    border-left: 1px solid rgba(232, 232, 232, 1);
    border-right: 1px solid rgba(232, 232, 232, 1);
    font-size: 15px;
    color: #333333!important;
}
.navbar-brand img{
    max-width: 150px;
}
.custom-nav-link-2{
    color: #333333!important;
    font-size: 13px;
}
.custom-nav-link-2:hover{
    color: #FF5E2B!important;
}
.icons-1{
    color: white;
    background-color:#FF5E2B ;
    padding: 2px 8px;
}
.para-1{
    font-size: 13px;
}
